<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.depositomodaintima">
    <!-- Permissoes Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissoes Galeria e Camera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ListarClientesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.PesquisarClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistrarEnderecoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VendaDetalheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TelaAtivacaoUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListarVendasActivity"
            android:parentActivityName=".activity.Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activity.CarrinhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NovaVendaActivity"
            android:parentActivityName=".activity.Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activity.NovoClienteActivity"
            android:parentActivityName=".activity.NovaVendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activity.PesquisarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProdutoDetalhesActivity"
            android:parentActivityName=".activity.Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activity.EditarProdutoActivity"
            android:parentActivityName=".activity.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NovoProdutoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AberturaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TelaAguardandoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>